<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pethoalpar.zxingexample">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Market filtering -->
    <uses-feature android:name="android.hardware.wifi.direct" android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- <activity -->
        <!-- android:name=".SelectSubject" -->
        <!-- android:label="Select Subject" /> -->
        <activity
            android:name=".Login"
            android:label="Exam Attendance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:label="Register" />
        <!-- <activity -->
        <!-- android:name=".Scan" -->
        <!-- android:label="Scan QR Code" /> -->
        <!-- <activity -->
        <!-- android:name=".CaptureActivityAnyOrientation" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:stateNotNeeded="true" -->
        <!-- android:theme="@style/zxing_CaptureTheme" -->
        <!-- android:windowSoftInputMode="stateAlwaysHidden" /> -->
        <!-- <activity -->
        <!-- android:name=".DisplayResult" -->
        <!-- android:label="Attendance" /> -->
        <!-- <activity -->
        <!-- android:name=".EnterStudentID" -->
        <!-- android:label="Enter Student ID" /> -->
        <activity
            android:name=".TakeAttendance"
            android:label="Take Attendance" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pethoalpar.zxingexample.Dashboard" />

        </activity>

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".Dashboard" />

        <activity
            android:name=".Dashboard"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ViewNameList"
            android:label="View Attendance">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Dashboard" />
        </activity>

        <receiver
            android:name=".NetworkStatus"
            android:label="NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <!-- SYNC DATA WITH SERVER -->
        <service
            android:name=".SyncService"
            android:exported="false" />

        <!-- Used for transferring files  after a successful connection -->
        <service android:enabled="true" android:name=".FileTransferService" />

        <activity android:name=".SyncActivity" android:label="Local Sync"></activity>
    </application>

</manifest>